# venv
venv

# video and test images
test_one.mp4
*.jpg
*.png

# readme
README.md

# models
models/

# sort
sort/

# pycache
__pycache__
sort/__pycache__

# code file
.vscode

# yaml files
config.yaml
